$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1025px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// Color variables
$primary: #451952;
$secondary: #f2b705;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

main {
  font-size: 16px;
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(tab) {
    height: calc(100vh - 63px);
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 22px;
  @include mq(tab) {
    font-size: 32px;
  }
}

#board {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $primary;
  @include mq(tab) {
    max-width: 900px;
    max-height: 80%;
    margin: 0 auto 0 auto;
  }
}

#currentScore {
  color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  min-width: 100px;
  display: none;
}

#result {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $black;
  text-align: center;
  background: #fdf8e6;
  padding: 20px;
  display: none;
  z-index: 999;
  font-size: 1.5rem;
  @include mq(tab) {
    width: 70%;
  }

  .scoreContainer {
    text-align: left;
    width: 250px;
    margin: 10px auto 0 auto;

    .resultHead {
      font-weight: bold;
    }

    span {
      display: inline-block;
      text-align: center;
      color: $primary;
      min-width: 80px;
      vertical-align: middle;
    }
  }

  .happy-halloween {
    margin-top: 10px;
  }
}

#level {
  filter: none;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $black;
  text-align: center;
  background: #fdf8e6;
  padding: 20px;
  z-index: 999;
  font-size: 1.5rem;
  @include mq(tab) {
    width: 70%;
  }

  .selectWrapper {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: calc(50% - 5px);
      right: 25px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      transform: rotate(45deg) translateY(-50%);
      pointer-events: none;
    }
  }

  select {
    width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;

    &:focus {
      outline-color: $secondary;
    }
  }
}

#playAgain,
#start {
  text-transform: uppercase;
  border: none;
  background: $secondary;
  color: $white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: 80%;
  margin-top: 20px;
}

#countDown {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  text-align: center;
  z-index: 999;
  font-size: 100px;
  font-weight: bold;
  @include mq(tab) {
    font-size: 200px;
  }
}
